* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 99vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.container .book-holder {
  display: flex;
  position: relative;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
  padding: 5px 10px;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.contact-container {
  font-size: 20px;
  margin: 30px 350px;
  text-align: left;
}

.contact-container ul {
  text-align: center;
  margin-top: 30px;
}

.contact-container ul li {
  padding: 10px;
  font-size: 15px;
}

.book-holder .by {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.book-holder .delete {
  position: absolute;
  right: 0.1px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

#book-form {
  margin-top: 30px;
}

#book-form input {
  width: 30%;
  padding: 10px;
  font-size: 16px;
}

#book-form .btn {
  cursor: pointer;
}

.book-holder:nth-child(even) {
  background-color: rgb(241, 239, 239);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 30px;
  font-size: 20px;
  border: 2px solid;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}
